#board {
  margin: 0;
  width: 256px;
  height: 256px;
  border: solid 1px #333;
}

#board .row {
  margin: 0;
}

.square {
  height: 32px;
  width: 32px;
  background: #efefef;
  float: left;
}

.piece1  {
  height: 30px;
  width: 30px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: red;
}
.piece2  {
  height: 30px;
  width: 30px;
  border: 1px solid blue;
  border-radius: 50%;
  background-color:blue;
}


.square.white {
  background: #fff;
}

.square.black {
  background:rgb(105, 104, 104);
}

.green{
  background-color: green;
}