#board {
  margin: 0;
  width: 256px;
  height: 256px;
  border: solid 1px #333;
}

#board .row {
  margin: 0;
}

.square {
  height: 32px;
  width: 32px;
  background: #efefef;
  float: left;
}

.piece1  {
  height: 30px;
  width: 30px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: red;
 
}
.piece2  {
  height: 30px;
  width: 30px;
  border: 1px solid blue;
  border-radius: 50%;
  background-color:blue;
}

.piece3{
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255, 0, 0, 0.555);
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.555);

}
.piece4{
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 255, 0.479);
  border-radius: 50%;
  background-color:rgba(0, 0, 255, 0.479);

}

.square.white {
  background-color: #f0d9b5;
 color: #b58863;
 
}

.square.black {
  background-color: #b58863;
 color: #f0d9b5;
}
.brown{
  background-color: rgb(128, 19, 0);
}
.purple{
  background-color: rgb(132, 0, 255);
}
.piece {
  margin: 5px auto;
  height: 20px;
  width: 20px;
  border-radius: 50%;
 }