.dame {
  width: 720px;
  height: 720px;
  margin: 1px;
  border: 2px solid rgb(0, 0, 0);
}

.grey, .brown {
  float: left;
  width: 90px;
  height: 90px;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
  box-sizing: border-box;
}

.grey {
  background-color: rgb(202, 200, 200);
}

.brown {
  background-color: rgb(139,69,19);
}